body {
    background-color: #acc38d;
}
h1 {
  color: blue;
  font-family:  courier;
}
p {
  color: red;
    border: 1px solid powderblue;
}

#aa{
    color: blueviolet;
}
.error{
 color:red;   
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color:  forestgreen;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color:transparent ;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: transparent;
  background-color: transparent;
  text-decoration: underline;
}